# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Cache and temporary files
*.lock
poetry.lock
.poetry_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nose2-report.xml
unittest-xml-reporting/
.xml
*.log

# Environments
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
*.lnk
